<div class="mt-4">
    <div class="row">
        <h3>Cập nhật khóa học</h3>
        <form method="post" action="/courses/{{course._id}}?_method=PUT">
            <div class="form-group">
                <label for="exampleInputEmail1">Tên khóa học</label>
                <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                    placeholder="Nhập từ khóa..." value="{{course.name}}">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Mô tả</label>
                <input type="text" name="description" class="form-control" id="exampleInputEmail2"
                    placeholder="Nhập từ khóa..." value="{{course.description}}">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Trình độ</label>
                <input type="text" name="level" class="form-control" id="exampleInputEmail3"
                    placeholder="Nhập từ khóa..." value="{{course.level}}">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Thêm khóa học</button>
        </form>
    </div>
</div>